version: "3.9"

services:
  redis:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: chatbot_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  chatbot:
    build: ./chatbot
    container_name: chatbot_server
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - MONGO_URL=${MONGO_URL}

volumes:
  redis_data:
